
nav{
    background-color: var(--primaryColor);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10%;
    z-index: 1000;
    position: sticky;
    top:0;
    box-shadow: 3px 0px 25px var(--bannerTextSecondaryColor);
}
.hamburger{
  display: none;
  cursor: pointer;
}
.line{
  width: 2rem;
  height: 4px;
  background-color: white;
  margin: .25rem 0;
  border-radius: 3px;
  
}
.logo>span{
    font-weight: 300;
}
.nav-btn{
    display: flex;
    align-items: center;
}
.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .nav-links{
    margin-right: 4rem;
  }
.nav-link > a{
    color: white;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.5rem;
}
.nav-link:hover > a{
    transform: scale(1.1);
  }
.nav-link >a > i{
    margin-left: .2rem;
    transition: .5s;
  }
  .nav-link{
    position: relative;
}
/* style for button*/
.extra-btn {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
    background-color: white;
    color: #373B44; /*dropdown background same as link text color*/
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: #fff;
}

/* Now work for dropdown*/
.dropdown{
    position: absolute;
    top:110%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
  }
  .dropdown ul{
    position: relative;
  }
  .dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
  }
  .dropdown-link > a{
    display: flex;
    background-color: #fff;
    color:#373B44; /*dropdown link text color*/
    padding: .5rem 1rem;
    font-size: .95rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
  }
  .dropdown-link:hover > a{
    background-color:#373B44; /*dropdown background same as link text color*/
    color: #fff;
  }
  .dropdown-link i{
    transform: rotate(-90deg);
  }
  .arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top:-5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
  }
  .dropdown-link:first-child:hover ~ .arrow{
    background-color:#353a46; /*dropdown background same as link text color*/
  }
  .dropdown-link{
    position: relative;
  }
  .dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
  }
  .dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
  }
  .nav-link:hover > .dropdown,
  .dropdown-link:hover> .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
  }




  /*    Fro small media*/
  @media screen and (max-width: 1200px){
    .nav-links{
      margin-right: 2rem;
      transition: all .3s ease-in-out;
    }
  }
  @media screen and (max-width: 1000px){
    .nav-links{
      margin-right: 1rem;
      transition: all .3s ease-in-out;
    }
  }
  @media screen and (max-width: 900px){
    .nav-links{
      margin-right: 0rem;
      transition: all .3s ease-in-out;
    }
    
    nav{
      padding: 0 3%;
      transition: all .3s ease-in-out;
    }
  }
  /* here display the hamburger*/
  @media screen and (max-width: 768px){
    nav{
      padding: 0 10%;
      transition: all .3s ease-in-out;
    }
    .nav-btn{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .hamburger:hover> .line{
      transform: scale(1.1);
    }
  }