.home-container{
    min-height: 100vh;
    background-color: #4a4e58;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.my-info *{
    padding: .1rem 0;
    
}
.my-info  span:nth-child(3){
    text-decoration: underline;
}
.my-info h1{
    font-weight: 300;
}
.my-info h1:hover{
    font-weight: 500;
    transform: scale(1.2);
}
.my-info  span:nth-child(3):hover{
    text-decoration: underline;
    font-weight: 600;
    transform: scale(1.2);
}